<?xml version="1.0" encoding="UTF-8"?>

<beans:beans xmlns="http://www.springframework.org/schema/security"
	xmlns:beans="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
	http://www.springframework.org/schema/security
	http://www.springframework.org/schema/security/spring-security-3.2.xsd">

	<!-- Setup the login form, login and logout url -->
	<http use-expressions="true" auto-config="true">
		<intercept-url pattern="/**" access="!isAnonymous()"  />	<!--  check all url-s in this app is the user authenticated // access="hasAnyRole('ROLE_ADMIN', 'ROLE_USER')"// hasRole('ROLE_USER')-->
		<form-login 	/> <!-- Use default login form -->
		<logout logout-url="/j_spring_security_logout" logout-success-url="/index.jsf" /> <!--  The logout url -->
	</http>



	<!-- check if the username and the password  matches those from the database -->
	<authentication-manager>
		<authentication-provider user-service-ref="usersAuthentication" />	
	</authentication-manager>
	
	<!-- create bean instance for the authentication manager -->
	<beans:bean id="usersAuthentication"
			class="com.аuthentication.UsersAuthentication">
	</beans:bean>
	
	

</beans:beans>



<!-- 	<form-login authentication-failure-url="/**"
			default-target-url="/index.jsf" login-page="/**"
			login-processing-url="/j_spring_security_check"
			authentication-success-handler-ref="authenticationSuccessHandlerEx" /> 
			
			<authentication-manager>
	
		<authentication-provider user-service-ref="authUserDetailsBean">
			<password-encoder hash="md5" />
		</authentication-provider>
	</authentication-manager>
	
	xmlns:context="http://www.springframework.org/schema/context"  
	
	<authentication-manager  alias="authenticationManager">
		<authentication-provider user-service-ref="employeeDAO" />	
		  <authentication-provider>
			<user-service>
				<user name="user" password="user" authorities="ROLE_USER"/>
				<user name="admin" password="admin" authorities="ROLE_ADMIN"/>
				<user name="visitor" password="visitor" authorities="ROLE_VISITOR"/>
			</user-service>
	</authentication-manager>
	-->
